.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.App-header {
  text-align: center;
  background-color: #bc52b3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.App-heading {
  font-size: 24px;
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

.App-link:hover {
  text-decoration: underline;
}
